/*
Table of content:

    1)- General Styling
    2)- Navbar
    3)- Header-intro
    4)- Futures
    5)- Screenshots
    6)- services
    7)- Testimonials
    8)- Pricing
    9)- Download App
    10)-subscribe
    11)- Contact
    12)- Footer
*/


/*

1)- General Styling

*/


@import 'base/base';
@import 'components/components';