/****************
* 2. Header     *
****************/
.header-hero{
	background:url(../img/hero3.jpg) center center/cover;
	// background:$black;
    height:100vh;
    display: table;
    width: 100%;
	&-inner{
		position: relative ;
		display: table-cell;
	    vertical-align: middle;
	    margin: 0 auto;
	    text-align: center;
	    color: $white;
	    z-index: 10;
	    h1{
	    	font-weight: 300;
	    }
	}
	&:after {
	    content: "";
	    position: absolute;
	    //background: rgba(40, 64, 76, 0.6);
	    background: linear-gradient(to right, rgba(1, 15, 105, 0.4) 0%, rgba(98, 27, 115, 0.6) 100%);
		// background:url(../img/hero3.jpg) no-repeat center center/cover;
	    z-index: 1;
	    width: 100%;
	    height: 100%;
	    filter: blur(5px);
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
}