/****************
* 2. Navbar     *
****************/

.main-nav {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 25px 0;
    transition: all .8s ease;
    color: $white;
    border: none;
    background: transparent;
    &.navbar-inverse {
        border-color: transparent;
    }
    .navbar-brand {
        img {
            max-height: 25px;
        }
    }
    .navbar-nav {
        .nav-link {
            font-size: 1.25rem;
            &.active {
                // color: $red;
                color: rgb(236, 59, 54);

                // color: #ec3b36; for mobile
                // border-left: 2px solid;
                // padding-left: 20px;
                // background: linear-gradient(to right, rgb(247, 245, 241), rgba(236, 59, 54, 0.21));

                // border-bottom: 2px solid; for desktop
                // background: linear-gradient(to top, rgba(247, 245, 241, 0), rgba(236, 59, 54, 0.05));
                // transition: all 0.5s ease-in-out;
            }
        }
    }
    &.sticky-top {
        height: auto;
        padding: 15px 0;
        background: #f7f5f1;
        box-shadow: 0 0 3px 1px rgba(113, 113, 113, .33);
        .navbar-nav {
            .nav-link {
                color: #525252;
                &.active {
                    // color: $red;
                    color: rgb(236, 59, 54);
                }
            }
            .btn-outline-secondary{
                @include button-outline-variant($btn-danger-bg);
            }
        }
    }
}
